{% load static %}
<!DOCTYPE html>
<html lang="en" class="d-flex h-100 align-items-center">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'styles.css'% }">

        <!-- <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
        <link href="{% static 'static/styles.css' %}" rel="stylesheet" media="screen"> -->
        <title>Follow</title>
    </head>
    <body>
        <h1>{{ header }}</h1>
        {% if is_following %}
        <p>Add follow</p>
        {% else %}
        <p>Remove follow</p>
        {% endif %}
        {% endblock %}
       
    </body>
</html>